<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
        <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch" layout="${message}" uri="http://localhost:9200/" documentType=""
                    index="nlog-${date:format=yyyy.MM.dd}">
                <field name="product" layout="UserService" />
                <field name="CallSite" layout="${callsite}" />
                                       
            </target>
        </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Warning" writeTo="elastic"/>
  </rules>
</nlog>
