@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%; */
		--muted: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(93,8,116,1) 0%, rgba(85,7,109,0.8772759103641457) 13%,
		 rgba(93,8,116,1) 15%, rgba(172,45,217,0.9641106442577031) 47%, rgba(243,167,229,0.8856792717086834) 89%);
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.bg-gradient {
	background: var(--muted);
  }

  .chat-container {
	max-height: 450px; /* Установите желаемую максимальную высоту */
	overflow-y: auto; /* Добавьте вертикальный скролл, если контент превышает максимальную высоту */
  }

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* *::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: calc(var(--radius) - 4px);
		background-color: hsl(var(--muted-foreground) / 0.3) !important;
	}

	body::-webkit-scrollbar {
		background-color: #fafafa;
		width: 7px;
	}

	body::-webkit-scrollbar-thumb {
		background-color: var(--primary);
		border-radius: 40px;
	} */
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #eae8e8;
}

::-webkit-scrollbar-thumb {
	/* background: #000; */
	background: #d2d0d0;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #c5c3c3;
}
.conversations-container {
	overflow: hidden; /* Скрыть полосу прокрутки по умолчанию */
	width: 100%;
	height: 100%;
  }
  
  .conversations-container:hover {
	overflow-y: auto; /* Показать полосу прокрутки при наведении */
  }
